Host 3dra2comp
  ProxyCommand ssh 3dra2 "nc \$(/pkg/qct/software/platform/lsf/10.1/GPUSLASA/10.1/linux3.10-glibc2.17-x86_64/bin/bjobs -o first_host -J vs-code-tunnel -noheader) 5678"
  StrictHostKeyChecking no
  User <USER>
